#scroll-wrapper {
  background-color: #d1bea7;
  background-image: url('/assets/textures/parchment-grain.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  box-shadow:
    inset 0 0 12px rgba(61, 203, 250, 0.868);
  filter: contrast(1.15) brightness(1.05);
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1px;
  padding-top: 0.5rem;
  width: 100%;
}
#scroll-wrapper .centered {
  text-align: center;
  margin: 1rem 0;
}